@font-face {
  font-family: "sqmarket";
  src: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-light-f9a391ce452bb6b46382ee011b4f12ad.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "sqmarket";
  src: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-medium-0143150f69e79c6b3273e6696f00b04b.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "sqmarket";
  src: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/sqmarket/sqmarket-bold-eeac4485068504a1cd41978c513f3413.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* line 16, ../../sass/_layout.sass */
*[class*="gap-top-col"] {
  margin-top: 10px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-top-small"] {
  margin-top: 20px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-top-medium"] {
  margin-top: 30px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-right-col"] {
  margin-right: 10px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-right-small"] {
  margin-right: 20px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-right-medium"] {
  margin-right: 30px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-bottom-col"] {
  margin-bottom: 10px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-bottom-small"] {
  margin-bottom: 20px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-bottom-medium"] {
  margin-bottom: 30px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-left-col"] {
  margin-left: 10px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-left-small"] {
  margin-left: 20px;
}

/* line 16, ../../sass/_layout.sass */
*[class*="gap-left-medium"] {
  margin-left: 30px;
}

/* line 19, ../../sass/_layout.sass */
body {
  padding: 0;
  margin: 0;
}

/* line 23, ../../sass/_layout.sass */
table {
  border-collapse: collapse;
}
/* line 25, ../../sass/_layout.sass */
table[class="content-table"] {
  width: 640px;
}
@media (max-width: 480px) {
  /* line 25, ../../sass/_layout.sass */
  table[class="content-table"] {
    width: 290px !important;
  }
}
/* line 29, ../../sass/_layout.sass */
table[class="column-table"] {
  width: 320px;
}
@media (max-width: 480px) {
  /* line 29, ../../sass/_layout.sass */
  table[class="column-table"] {
    width: 290px !important;
  }
}
/* line 33, ../../sass/_layout.sass */
table[class*="attr-column"] {
  margin-left: 20px;
  width: 300px;
}
@media (max-width: 480px) {
  /* line 33, ../../sass/_layout.sass */
  table[class*="attr-column"] {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
/* line 39, ../../sass/_layout.sass */
table[class*="accent-table"] {
  background-color: #f0f0f0;
}
/* line 41, ../../sass/_layout.sass */
table[class*="button-table"] {
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  /* line 41, ../../sass/_layout.sass */
  table[class*="button-table"] {
    margin-bottom: 0 !important;
  }
}

/* line 47, ../../sass/_layout.sass */
td[class*="asset-group-divide"] {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e0e0e0;
}
@media (max-width: 480px) {
  /* line 47, ../../sass/_layout.sass */
  td[class*="asset-group-divide"] {
    border: none !important;
  }
}
/* line 53, ../../sass/_layout.sass */
td[class*="button"] {
  background-color: #2996cc;
  border-radius: 4px;
  padding: 15px 40px;
}

/* line 58, ../../sass/_layout.sass */
img {
  display: block;
  border: 0 none;
  line-height: 100%;
  outline: none;
}
/* line 65, ../../sass/_layout.sass */
img.content-image {
  width: 320px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  /* line 65, ../../sass/_layout.sass */
  img.content-image {
    width: 290px !important;
  }
}

/* line 72, ../../sass/_layout.sass */
a img {
  border: 0 none;
}

/* line 76, ../../sass/_layout.sass */
*[class*="border-top"] {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #e0e0e0;
}

/* line 81, ../../sass/_layout.sass */
*[class*="border-bottom"] {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e0e0e0;
}

/* line 86, ../../sass/_layout.sass */
*[class*="hidden"] {
  display: none;
  font-size: 0;
  max-height: 0;
  overflow: hidden;
}

/* line 6, ../../sass/_typography.sass */
body {
  font-family: "sqmarket", Helvetica;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 12, ../../sass/_typography.sass */
h1 {
  font-family: "sqmarket", Helvetica;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  color: #2e3b4e;
  margin: 0 0 10px 0;
}

/* line 20, ../../sass/_typography.sass */
h2 {
  font-family: "sqmarket", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #2e3b4e;
  margin: 0;
}

/* line 28, ../../sass/_typography.sass */
p {
  font-family: "sqmarket", Helvetica;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #5F6A7D;
  margin: 0;
}
/* line 35, ../../sass/_typography.sass */
p[class*="lede"] {
  max-width: 21em;
}

/* line 38, ../../sass/_typography.sass */
a {
  font-family: "sqmarket", Helvetica;
  font-weight: inherit;
  font-size: 14px;
  line-height: 22px;
  color: #2586b7;
  margin: 0;
  text-decoration: none;
}
/* line 46, ../../sass/_typography.sass */
a[class*="block-link"] {
  display: block;
}
/* line 48, ../../sass/_typography.sass */
a[class*="button-text"] {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
  line-height: 11px;
}
